
# ==========================================
# STM32 Motor Control Journey - .gitignore
# STM32 / Keil MDK / CubeMX / Python / OS
# ==========================================

# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
dist/
*.spec

# ------------------------------
# STM32 / Keil MDK build outputs
# ------------------------------
Objects/
Listings/
DebugConfig/
RTE/

*.o
*.d
*.crf
*.htm
*.dep
*.map
*.lst
*.lnp
*.axf
*.elf
*.hex
*.bin
*.iex
*.sct
*.bak
*.scvd
*.uvmpw

# ------------------------------
# Keil user/session files
# ------------------------------
*.uvguix.*
*.uvgui.*
*.uvgui_*
*.uvoptx
*.uvopt

# 注意：不要忽略这些
# *.ioc
# *.uvprojx

# ------------------------------
# STM32CubeIDE / GCC misc
# ------------------------------
*.su
*.cyclo
*.list

# ------------------------------
# IDE / OS
# ------------------------------
.idea/
.vscode/
.DS_Store
Thumbs.db

# ------------------------------
# Logs / temp
# ------------------------------
*.log
*.tmp
*.temp
